.charts-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
}

.charts-header {
  display: flex;
  font-size: 1.125em;
  padding-bottom: 0.5em;
  padding-top: 2.375em;
}

.chart-tooltip-display {
  display: flex;
  max-width: 68vw;
}

.tooltip-read-write {
  background: rgba(34, 44, 54, 0.3);
  border: 1px solid rgba(51, 59, 68, 0.5);
  padding: 0.5em;
}

.tooltip-display {
  color: #A6AAAE;
  display: flex;
  flex-direction: column;
  width: 19em;
  margin-left: 1.25em;
  margin-bottom: 2em;
}

.tooltip-display-brush {
  color: #A6AAAE;
  display: flex;
  flex-direction: column;
  width: 19em;
  margin-left: 1.25em;
  margin-bottom: 4.5em;
}

.iops-read {
  color: rgba(170, 126, 221, 1);
}

.iops-write {
  color: rgba(0, 163, 202, 1);
}

.throughput-read {
  color: rgba(142, 142, 205, 1);
}

.throughput-write {
  color: rgba(0, 163, 202, 1);
}
